.calc-button {
  width: 180px;
  text-align: center;
  font-size: 13px;
  line-height: 308%;
  padding: 13px;
  background: #ea510d;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: uppercase;
  cursor: pointer;
}
