$orange: #f15d22;
$dark-gray: #333333;
$light-gray: #e5e5e5;
$gray: #666666;
$black: #000;
$white: #fff;
// ****************
.uk-color-orange {
  color: $orange;
}
.uk-color-dark-gray {
  color: $dark-gray;
}
.uk-color-light-gray {
  color: $light-gray;
}
.uk-color-gray {
  color: $gray;
}

.uk-color-black {
  color: $black;
}
.uk-color-white {
  color: $white;
}
