.descr {
  &-wr {
    background: #f1f2f3;
  }
}

.uk-descr-wr__button {
  max-width: 341px;
  width: 100%;
}
.uk-deskr-wr__text {
  width: 100%;
}

.uk-block-toggle-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.uk-block-toggle-form > .descr-wr__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 10px;
}
.uk-button-toggle-form {
  max-width: 360px;
}

.uk-gap-40 {
  gap: 40px;
}

.uk-gap-25 {
  gap: 25px;
}
.uk-gap-10 {
  gap: 10px;
}

// ********************************
@media (min-width: 320px) {
}
@media (min-width: 375px) {
}

@media (min-width: 640px) {
  .uk-flex-left\@sm {
    justify-content: flex-start;
  }
  .uk-gap-10\@s {
    gap: 10px;
  }

  .uk-block-toggle-form > .descr-wr__block {
    display: flex;
  }

  .uk-descr-wr__button {
    max-width: 360px;
    width: 100%;
  }
  .uk-button-toggle-form {
    max-width: 360px;
  }
}

@media (min-width: 768px) {
  .uk-flex-center\@sm {
    justify-content: center;
  }
  .uk-block-toggle-form {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .uk-block-toggle-form > .descr-wr__block {
    justify-content: flex-start;
  }
}
@media (min-width: 960px) {
  // .uk-gap-40\@m {
  //   gap: 40px;
  // }

  .uk-deskr-wr__text {
    width: 200px;
  }
}

@media (min-width: 1280px) {
  .uk-block-toggle-form > .descr-wr__block {
    gap: 40px;
  }
}

@media (min-width: 1600px) {
}
