.descr {
  &-wr {
    background: #f1f2f3;
  }
}

.uk-descr-wr__button {
  width: 100%;
}
.uk-deskr-wr__text {
  width: 100%;
}

// ********************************
@media (min-width: 320px) {
}
@media (min-width: 375px) {
}

@media (min-width: 640px) {
}
@media (min-width: 960px) {
  .uk-deskr-wr__text {
    width: 200px;
  }
  .uk-descr-wr__button {
    width: 341px;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1600px) {
}
